footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1rem;
  font-size: var(--fs-small);
  text-align: center;

  & span {
    font-weight: var(--fw-bold);
  }
}

@media (max-width: 375px) {
  footer {
    display: none;
  }
}
