.quiz__question {
  font-size: var(--fs-large);
  font-weight: var(--fw-bold);
  color: var(--clr-primary);
  margin-bottom: 1rem;
}

.progress {
  width: 100%;
  height: 1rem;
  border-radius: 5px;
  background: white;
  margin-bottom: 0.5rem;

  &__inner {
    transition: all .5s ease-out;
    background: var(--clr-primary);
    height: 100%;
    width: 50%;
    border-radius: inherit;
  }
}

.quiz__tracker {
  font-size: var(--fs-small);
  font-weight: var(--fw-bold);
  margin-bottom: 0.5rem;
}

.quiz__choice {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
